<!DOCTYPE html>
<html>
<head>
  <title>Converter</title>
  <%= stylesheet_link_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag :application %>
</body>
</html>
